.login-box {
    @include form-container(528px, 402px);
    h1 {
        @include form-header(89px, 38px);
    }
    p {
        @include form-subheader(464px, 26px);
    }
    .login-form {
        display: flex;
        flex-flow: column nowrap;
        width: 512px;
        height: 402px;
        border-radius: 12px;
        background-color: #ffffff;
        div {
            margin-left: 32px;
            form {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                label {
                    margin-top: 24px;
                    width: 200px;
                    height: 19px;
                    font-family: OpenSans;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.42px;
                    color: #363636;
                }
                input {
                    width: 464px;
                    height: 48px;
                    border-radius: 6px;
                    border: solid 1px #979797;
                }
                button {
                    width: 114px;
                    height: 48px;
                    border-radius: 6px;
                    margin: 40px 32px 24px 350px;
                    background: $dark-orange;
                    border: 2px outset $orange;
                    color: white;
                    transition: 500ms;
                    &:hover {
                        cursor: pointer;
                        border: 2px outset $dark-orange;
                    }
                }
            }
        }
    }
}

.login-container {
    margin: auto auto;
    background-color: $orange;
}